###> symfony/framework-bundle ###
/.env
/.env.local
/.env.*.local
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> phpunit/php-code-coverage ###
coverage.txt
html-coverage/
###< phpunit/php-code-coverage ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> phpmd/phpmd ###
phpmd.results.xml
###< phpmd/phpmd ###
