parameters:
    level: 7
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/

    exceptions:
        check:
            missingCheckedExceptionInThrows: true

    excludePaths:
        - tests/**/**Test.php
